body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #141414;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background: black;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-weight: bold;
  color: #aaa;
}

.nav-link.active {
  color: #e50914;
}

.container {
  padding: 2rem;
}

.card {
  background: #1f1f1f;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
}

button {
  background: #e50914;
  border: none;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}